Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 15
VisualStudioVersion = 15.0.26124.0
MinimumVisualStudioVersion = 15.0.26124.0
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "Cake.<%= projectName %>", "Cake.<%= projectName %>\Cake.<%= projectName %>.csproj", "{<%= mainProjectGuid %>}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "Cake.<%= projectName %>.Tests", "Cake.<%= projectName %>.Tests\Cake.<%= projectName %>.Tests.csproj", "{<%= testProjectGuid %>}"
EndProject
Global
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{<%= mainProjectGuid %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= mainProjectGuid %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= mainProjectGuid %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= mainProjectGuid %>}.Release|Any CPU.Build.0 = Release|Any CPU
		{<%= testProjectGuid %>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%= testProjectGuid %>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%= testProjectGuid %>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%= testProjectGuid %>}.Release|Any CPU.Build.0 = Release|Any CPU
	EndGlobalSection
EndGlobal
