<Project Sdk="Microsoft.NET.Sdk">
	<PropertyGroup>
		<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>
		<GenerateDocumentationFile>true</GenerateDocumentationFile>
		<IncludeSymbols>true</IncludeSymbols>
		<SymbolPackageFormat>snupkg</SymbolPackageFormat>
	</PropertyGroup>

	<PropertyGroup>
		<StartYear><%= startYear %></StartYear>
		<EndYear>$([System.DateTime]::Today.Year)</EndYear>
		<FullYear Condition="'$(StartYear)'=='$(EndYear)'">$(StartYear)</FullYear>
		<FullYear Condition="'$(StartYear)'!='$(EndYear)'">$(StartYear)-$(EndYear)</FullYear>

		<!-- Properties related to packaging -->
		<Authors><%= author %></Authors>
		<Copyright>Copyright © $(FullYear) — <%= author %></Copyright>
		<Description><%= description %></Description>
		<PackageIconUrl>https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png</PackageIconUrl>
		<PackageLicenseExpression><%= licenseType %></PackageLicenseExpression>
<% if (enableWyam) { -%>
		<PackageProjectUrl>https://<%= repositoryOwner.toLowerCase() %>.github.io/Cake.<%= projectName %></PackageProjectUrl>
<% } else { -%>
		<PackageProjectUrl>https://github.com/<%= repositoryOwner %>/Cake.<%= projectName %></PackageProjectUrl>
<% } -%>
		<PackageTags>cake;addin;<%= projectName.toLowerCase() %></PackageTags>
		<RepositoryUrl>https://github.com/<%= repositoryOwner %>/Cake.<%= projectName %>.git</RepositoryUrl>
		<PackageReleaseNotes>https://github.com/<%= repositoryOwner %>/Cake.<%= projectName %>/releases/tag/$(Version)</PackageReleaseNotes>
	</PropertyGroup>

	<ItemGroup>
		<PackageReference Include="Cake.Core" Version="0.33.0" PrivateAssets="All" />
		<PackageReference Include="stylecop.analyzers" Version="1.1.118">
			<IncludeAssets>runtime; build; native; contentfiles; analyzers</IncludeAssets>
			<PrivateAssets>all</PrivateAssets>
		</PackageReference>
	</ItemGroup>
</Project>
