<%- include('../headers/csheader.tmpl', {filename: projectName + 'Settings.cs' })
_%>namespace Cake.<%= projectName %>
{
	using System;
	using Cake.Core.Tooling;

	public sealed class <%= projectName %>Settings : ToolSettings
	{
	}
}
