<%
	let text = "";
	if (useLicenseHeaders) {
		text = include(licenseType + ".tmpl").split('\n').map(s => {
			if (!s || s.trim() == "") {
				return " *";
			}
			else {
				return " * " + s;
			}
		}).join('\n').replace(/[\* \n\r]*$/, '');

		if (text && text !== " *") {
			text = "/*\n" + text + "\n */\n\n";
		}
	}
-%>
<%- text -%>
